html, body {
    margin: 0;
    padding: 0;
    line-height: 1;
}
a{word-break: break-all;}

/*font size*/
.f-xl{font-size: 80px;}
.f-l{font-size: 56px;}
.f-m{font-size: 36px;}
.f-s{font-size: 25px;}
.f-xs{font-size: 20px;}

/*margin*/
.m-xl{margin: 80px auto 0;}
.m-l{margin: 65px auto 0;}
.m-m{margin: 35px auto 0;}
.m-s{margin: 20px auto 0;}
.m-xs{margin: 15px auto 0;}

/*padding*/
.p-xl{padding:120px 0 0;}
.p-l{padding:60px 0 0;}
.p-m{padding:30px 0 0;}
.p-s{padding:20px 0 0;}
.p-xs{padding:15px 0 0;}

/*line-height*/
.lh-l{line-height: 1.6;}
.lh-s{line-height: 1.2;}

/*opacity*/
.op-10{opacity:0.1;}
.op-20{opacity:0.2;}
.op-30{opacity:0.3;}
.op-40{opacity:0.4;}
.op-50{opacity:0.5;}
.op-60{opacity:0.6;}
.op-70{opacity:0.7;}
.op-80{opacity:0.8;}
.op-90{opacity:0.9;}

/*different button*/
.button{
    display: inline-block;
    padding: 10px 18px;
    line-height: 1;
    opacity: 1;
    vertical-align:middle;
    text-align: center;
}
.button:hover{
    color: inherit;
    text-decoration: none;
    opacity: 0.9;
    animation: opacity 0.2s;
}

/*special style*/
.bold-font{font-weight: bold;letter-spacing: 1px;}
.bolder-font{font-family: Poppins-Bloder;letter-spacing: 2px;}
.light-font{font-family: Poppins-Light;}
.white-font{color:#FFFFFF;}
.white-back{background: #FFFFFF;}
.dark-back{background: #231F20;}
.green-back{background: #7DCA3B;color: #FFFFFF}
.blue-back{background: #254B9C;color: #FFFFFF}
.red-back{background: #EA423C;color: #FFFFFF}
.over-hi{overflow: hidden;}
.horizontal-center{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

@media only screen and (max-width: 1201px) {
    /*font size*/
    .f-xl{font-size: 72px;}
    .f-l{font-size: 46px;}
    .f-m{font-size: 28px;}
    .f-s{font-size: 22px;}
    .f-xs{font-size: 18px;}

    /*margin*/
    .m-xl{margin: 60px auto 0;}
    .m-l{margin: 50px auto 0;}
    .m-m{margin: 22px auto 0;}
    .m-s{margin: 15px auto 0;}
    .m-xs{margin: 10px auto 0;}

    /*padding*/
    .p-xl{padding:100px 0 0;}
    .p-l{padding:45px 0 0;}
    .p-m{padding:20px 0 0;}
    .p-s{padding:18px 0 0;}
    .p-xs{padding:14px 0 0;}
}
@media only screen and (max-width: 998px) {
    /*font size*/
    .f-xl{font-size: 68px;}
    .f-l{font-size: 38px;}
    .f-m{font-size: 24px;}
    .f-s{font-size: 18px;}
    .f-xs{font-size: 16px;}

    /*margin*/
    .m-xl{margin: 60px auto 0;}
    .m-l{margin: 50px auto 0;}
    .m-m{margin: 22px auto 0;}
    .m-s{margin: 15px auto 0;}
    .m-xs{margin: 10px auto 0;}

    /*padding*/
    .p-xl{padding:100px 0 0;}
    .p-l{padding:45px 0 0;}
    .p-m{padding:20px 0 0;}
    .p-s{padding:18px 0 0;}
    .p-xs{padding:14px 0 0;}
}
@media only screen and (max-width: 768px) {
    /*font size*/
    .f-xl{font-size: 40px;}
    .f-l{font-size: 26px;}
    .f-m{font-size: 20px;}
    .f-s{font-size: 14px;}
    .f-xs{font-size: 12px;}

    /*margin*/
    .m-xl{margin: 45px auto 0;}
    .m-l{margin: 35px auto 0;}
    .m-m{margin: 20px auto 0;}
    .m-s{margin: 15px auto 0;}
    .m-xs{margin: 10px auto 0;}

    /*padding*/
    .p-xl{padding:80px 0 0;}
    .p-l{padding:30px 0 0;}
    .p-m{padding:16px 0 0;}
    .p-s{padding:14px 0 0;}
    .p-xs{padding:12px 0 0;}
}

/*font*/
@font-face {
    font-family:"Poppins";
    src:url("../font/Poppins-Medium.ttf");
}
@font-face {
    font-family:"Poppins-Light";
    src:url("../font/Poppins-Light.ttf");
}
@font-face {
    font-family:"Poppins-Bloder";
    src:url("../font/Poppins-Bold.ttf");
}
@font-face {
    font-family:"ShareTechMono";
    src:url("../font/ShareTechMono-Regular.ttf");
}

/*loading*/
.loading {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #ffffff;
    z-index: 2000;
}

.square-spin {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    height: 50px;
    width: 200px;
    text-align: center;
}

.square-spin > div {
    display: inline-block;
    margin: 5px;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    width: 20px;
    height: 20px;
    background: #beeb00;
    -webkit-animation: square-spin 3s 0s cubic-bezier(0.09, 0.57, 0.49, 0.9) infinite;
    animation: square-spin 3s 0s cubic-bezier(0.09, 0.57, 0.49, 0.9) infinite;
}

@-webkit-keyframes square-spin {
    25% {
        -webkit-transform: perspective(100px) rotateX(180deg) rotateY(0);
        transform: perspective(100px) rotateX(180deg) rotateY(0);
    }
    50% {
        -webkit-transform: perspective(100px) rotateX(180deg) rotateY(180deg);
        transform: perspective(100px) rotateX(180deg) rotateY(180deg);
    }
    75% {
        -webkit-transform: perspective(100px) rotateX(0) rotateY(180deg);
        transform: perspective(100px) rotateX(0) rotateY(180deg);
    }
    100% {
        -webkit-transform: perspective(100px) rotateX(0) rotateY(0);
        transform: perspective(100px) rotateX(0) rotateY(0);
    }
}

@keyframes square-spin {
    25% {
        -webkit-transform: perspective(100px) rotateX(180deg) rotateY(0);
        transform: perspective(100px) rotateX(180deg) rotateY(0);
    }
    50% {
        -webkit-transform: perspective(100px) rotateX(180deg) rotateY(180deg);
        transform: perspective(100px) rotateX(180deg) rotateY(180deg);
    }
    75% {
        -webkit-transform: perspective(100px) rotateX(0) rotateY(180deg);
        transform: perspective(100px) rotateX(0) rotateY(180deg);
    }
    100% {
        -webkit-transform: perspective(100px) rotateX(0) rotateY(0);
        transform: perspective(100px) rotateX(0) rotateY(0);
    }
}

/*hover btn*/
.hover-border {
    position: relative;
    display: inline-block;
    min-width: 150px;
    max-width: 300px;
    height: 50px;
    cursor: pointer;
    line-height: 50px;
    vertical-align: middle;
    text-align: center;
    box-sizing: border-box;
    box-shadow: inset 0 0 0 0px transparent;
}

.hover-border:before,
.hover-border:after {
    content: '';
    display: inline-block;
    position: absolute;
    box-sizing: border-box;
    border: 1px solid transparent;
    width: 0;
    height: 0;
}

.hover-border:after, .hover-border:before {
    box-sizing: border-box;
    border: 2px solid transparent;
}

.hover-border:before {
    bottom: 0;
    right: 0;
    -webkit-transition: border-color 0s ease-in 0.4s, width 0.2s ease-in 0.2s, height 0.2s ease-in;
    transition: border-color 0s ease-in 0.4s, width 0.2s ease-in 0.2s, height 0.2s ease-in;
}

.hover-border:after {
    top: 0;
    left: 0;
    -webkit-transition: border-color 0s ease-in 0.8s, width 0.2s ease-in 0.6s, height 0.2s ease-in 0.4s;
    transition: border-color 0s ease-in 0.8s, width 0.2s ease-in 0.6s, height 0.2s ease-in 0.4s;
}

.hover-border:hover:after, .hover-border:hover:before {
    width: 100%;
    height: 100%;
}

.hover-border:hover:after {
    border-top-color: #FFFFFF;
    border-right-color: #FFFFFF;
    -webkit-transition: width 0.2s ease-out, height 0.2s ease-out 0.2s;
    transition: width 0.2s ease-out, height 0.2s ease-out 0.2s;
}

.hover-border:hover:before {
    border-bottom-color: #FFFFFF;
    border-left-color: #FFFFFF;
    -webkit-transition: border-color 0s ease-out 0.4s, width 0.2s ease-out 0.4s, height 0.2s ease-out 0.6s;
    transition: border-color 0s ease-out 0.4s, width 0.2s ease-out 0.4s, height 0.2s ease-out 0.6s;
}

/*special show text style */
.show-text {
    font-weight: 900;
    text-transform: uppercase;
    overflow: hidden;
    color: #FFFFFF;
}

.show-text span {
    position: relative;
    display: inline-block;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
}

.show-text:hover span:first-of-type {
    color: #fff;
}

.show-text:hover span:last-of-type {
    color: #1e1a1b;
}

.show-text span::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    line-height: 0.8;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}

.show-text span:last-of-type::before {
    background: #1e1a1b;
}

.show-text:hover span:last-of-type::before,
.show-text span:first-of-type::before {
    -webkit-transform: translate3d(0,-150%,0);
    transform: translate3d(0,-150%,0);
}

.show-text:hover span:first-of-type::before,
.show-text span:last-of-type::before {
    -webkit-transform: translate3d(0,150%,0);
    transform: translate3d(0,150%,0);
}



/*line animate*/
.bg-animate {
    position: absolute;
    margin: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index:1;
}
.svg-line {
    stroke:#FFFFFF;
    stroke-width: 4px;
    stroke-dasharray: 8 8;
    stroke-dashoffset: 0px;
    stroke-linecap:round;
    animation: nor 15s linear infinite;
}
.dark-line {
    stroke:#231F20;
}
.green-line {
    stroke:#2A843D;
}
.fast-line {
    animation: nor 5s linear infinite;
}
.normal-line {
    animation: nor 10s linear infinite;
}
.slow-line {
    animation: nor 20s linear infinite;
}
@keyframes nor {
    0% {stroke-dashoffset: 200px;}
    100% {stroke-dashoffset: 1px;}
}
@media only screen and (max-width: 768px) {
    .bg-animate svg {
        opacity:0.6;
    }
}
@media only screen and (max-width: 480px) {
    .bg-animate svg {
        opacity:0.4;
    }
}